tests:
    - event: ConfigFlow
      postto:
        type: FlowAdmin
        value: ProfileFlow
      postdata:
        configName: EmailConfig
        configValues:
            username: apikey
            password: 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
            smtpHost: smtp.sendgrid.net
            smtpPort: "587"
        staticKey: EMAIL

